* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "poppins";
}
body {
  background-color: rgb(242, 202, 141);
}
/*====================================================================
          HERO HEADING AND NAVBAR SECTION START
===================================================================*/
.hero-heading-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 9px 9px 100px rgb(236, 236, 193);
}
.hero-logo {
  font-weight: 800;
  font-size: 70px;
  font-family: "poppins";
  position: relative;
  left: 30px;
}

.hero-navbar ul li {
  display: inline;
  flex-direction: row;
  color: white;
  position: relative;
  right: 20px;
}
.hero-navbar ul li a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  margin-right: 40px;
  transition: 0.3s ease-in-out;
}
#hero-home-btn {
  background-color: rgb(247, 227, 177);
  border-radius: 30px;
  margin-right: 20px;
  padding-left: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero-navbar ul li a:hover {
  color: white;
  transition: 0.3s ease-in-out;
}
/*====================================================================
          HERO HEADING AND NAVBAR SECTION END
===================================================================*/

/*======================================================================
                 HERO MAIN CONTENT START
======================================================================*/

.hero-logo-circle {
  border: 8px solid beige;
  box-sizing: border-box;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-top: 190px;
}
.hero-subcircle {
  width: 250px;
  height: 250px;
  border: 30px solid beige;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero-subcircle > img {
  position: absolute;
  filter: drop-shadow(8px 9px 24px rgb(163, 151, 115));
}
#hero-text-logo {
  font-size: 100px;
  font-weight: 400;
  font-display: fallback;
  font-family: "poppins";
  font-style: oblique;
  position: relative;
  z-index: 0;
}

.product-info {
  position: absolute;
  left: 50px;
}

button {
  background-color: rgb(249, 231, 208);
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 30px;
  transition: 0.4s ease-out;
  text-align: center;
}
button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.4s ease-in-out;
}

.hero-product-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  background-color: rgb(228, 195, 141);
  padding: 20px;
  transition: 0.5s ease-in-out;
  box-shadow: 8px 10px 20px rgb(20, 20, 17);
}
.hero-product-img img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s ease-in-out;
}

#click {
  font-size: 30px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 70px;
}

/*-----====================================
           FOOTER START
 =========================================-----*/

/*===========================================
               FOOTER END 
==========================================*/

/*==============================================
            MOBILE RESPONSIVE
================================================*/
